# Pandas  
PanDas = Panel Data Sets
Para trabajar con datos multidimensionales habituales en estadística, econometría, ...  
Permite manipular tablas de datos (**DataFrame**)  
Las tablas pueden tener diferentes tipos de datos a diferencia de las matrices de NumPy

In [1]:
import pandas as pd

## Crear un DataFrame

In [2]:
fbk=['Facebook', 2740, True, 2006]
twt=['Twitter',339,False,2006]
ig=['Instagram',1221, True, 2010]
yt=['YouTube',2291,False,2005]
lkn=['LinkkedIn',727,False,2003]
wsp=['WhatsApp',2000,True,2009]
tik=['TikTok',689,False,2016]
tel=['Telegram',500, False,2013]

In [3]:
rrss = [fbk,twt,ig,yt,lkn,wsp,tik,tel]    # redes sociales 2021
rrss

[['Facebook', 2740, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1221, True, 2010],
 ['YouTube', 2291, False, 2005],
 ['LinkkedIn', 727, False, 2003],
 ['WhatsApp', 2000, True, 2009],
 ['TikTok', 689, False, 2016],
 ['Telegram', 500, False, 2013]]

In [4]:
df_rrss=pd.DataFrame(rrss, columns=['Nombre','Usuarios','es_FBK', 'Año'])
df_rrss

      Nombre  Usuarios  es_FBK   Año
0   Facebook      2740    True  2006
1    Twitter       339   False  2006
2  Instagram      1221    True  2010
3    YouTube      2291   False  2005
4  LinkkedIn       727   False  2003
5   WhatsApp      2000    True  2009
6     TikTok       689   False  2016
7   Telegram       500   False  2013

In [6]:
df_rrss.head()         # muestra solo los primeros registros de la tabla

      Nombre  Usuarios  es_FBK   Año
0   Facebook      2740    True  2006
1    Twitter       339   False  2006
2  Instagram      1221    True  2010
3    YouTube      2291   False  2005
4  LinkkedIn       727   False  2003

## Crear un DataFrame vacío

In [ ]:
df_vacio=pd.DataFrame(columns=['Nombre','Usuarios','es_FBK', 'Año'])
df_vacio

In [ ]:
df_vacio=df_vacio.append({'Nombre':'Facebook',
                          'Usuarios':2740,
                          'es_FBK':True,
                          'Año':2006},ignore_index=True)
df_vacio

En lugar de meter los datos de forma manual lo habitual es pasarle un archivo csv o Excel.

## Seleccionar elementos

### Seleccionar un elemento

In [ ]:
# seleccionar un elemento por etiquetas
df_rrss.loc[1,'Nombre']                    # loc de localizador

In [ ]:
# seleccionar un elemento por número
df_rrss.iloc[1,0]                           # iloc de localizador por integer

### Seleccionar filas o columnas

In [ ]:
# seleccionar por columna
df_rrss['Nombre']

In [ ]:
# seleccionar una fila
df_rrss.iloc[2]

### Seleccionar según un filtro

In [ ]:
# seleccionar por condición booleana
df_rrss['Usuarios']>2000         # Obtenemos un vector de True False

In [ ]:
df_rrss[df_rrss['Usuarios']>2000]  # Convertimos el vector de True False en valores

## Ordenar columnas

### De forma ascendente (de menor a mayor)

In [ ]:
# ordenando por el nombre
df_rrss.sort_values('Nombre',ascending=True)  # el df_rrss no altera su orden

### De forma descendente (de mayor a menor)

In [ ]:
# por la cantidad de usuarios
df_rrss.sort_values('Usuarios',ascending=False)

### Ordenar por dos columnas

In [ ]:
# ordenamos primero por el año y luego por el número de usuarios
df_rrss.sort_values(['Año','Usuarios'],ascending=[True,False])