# Formateando Cadenas (Strings)


## Sistema antiguo con %s

In [1]:
print("La capital de %s es %s"%("Lituania", "Vilna"))

La capital de Lituania es Vilna

## Usando format

In [2]:
edad=10
print('Cuando tenía {} años media {} cm.'.format(edad,140))

Cuando tenía 10 años media 140 cm.

In [3]:
print("La suma de {} más {} es igual a {}".format(2,3,2+3))

La suma de 2 más 3 es igual a 5

In [4]:
texto="El producto de {} y {} es {}"
print(texto.format(5,4,20))

El producto de 5 y 4 es 20

In [5]:
nombre="Ana"
apellido="Ruiz"
texto="Me llamo {0} {1} pero llamame simplemente {0}"
print(texto.format(nombre, apellido))

Me llamo Ana Ruiz pero llamame simplemente Ana

In [6]:
texto="El {b} y la {a}"
print(texto.format(a="Luna",b="Sol"))

El Sol y la Luna

## El sistiema f

In [7]:
x,y=4,6;z=x+y
print(f"La suma de {x} más {y} es igual a {z}")

La suma de 4 más 6 es igual a 10

Podemos realizar operaciones dentro de las comillas.

In [8]:
print(f'El área es {2*4}')

El área es 8

In [9]:
Incluso podemos invocar funciones dentro de las comillas.

SyntaxError: invalid syntax (<ipython-input-9-0b3be88129a8>, line 1)

In [10]:
def doble(n):
  return 2*n

print(f"El doble de 9 es {doble(9)}")

El doble de 9 es 18