# Funciones con retorno múltiple

Se devuelve una tupla.

In [11]:
def multi(x):
    doble=2*x
    triple=3*x
    return (doble, triple)
print(multi(5))           # (10, 15)    retorna una tupla

(10, 15)

Podemos asignar la tupla retornada a otra o a variables independientes.

In [13]:
(a,b) = multi(4)          # podemos asignar la tupla retornada a una con variables independientes
#a,b = multi(4)           # sin los paréntesis también funciona
print((a,b))              # (8,12)
print(b)                  # las variables asignadas son idependientes

(8, 12)
12

In [5]:
print("a =",a)
print("b =",b)

a = 8
b = 12

In [6]:
print(type((a,b)))        # (a,b) es una tupla

<class 'tuple'>

## Convertir segundos en horas, minutos, segundos

In [8]:
def tiempo(seg):
    h = int(seg / 3600)
    m = int((seg % 3600) / 60)
    s = (seg % 3600 ) % 60
    return (h,m,s)
print(tiempo(100000))        #(27, 46, 40)

(27, 46, 40)

**Ejercicio**  
Incluya los días.