# Formateando Cadenas (Strings)


## Sistema antiguo con ```%s```

In [ ]:
print("La capital de %s es %s"%("Lituania", "Vilna"))

## Usando ```format```

In [ ]:
edad = 10
print('Cuando tenía {} años media {} cm.'.format(edad, 140))

In [ ]:
print("La suma de {} más {} es igual a {}".format(2, 3, 2+3))

In [ ]:
texto = "El producto de {} y {} es {}"
print(texto.format(5, 4, 20))

In [ ]:
nombre = "Luis"
apellido = "Olmo"
print("Me llamo {} {}".format(nombre, apellido))

In [ ]:
nombre = "Ana"
apellido = "Ruiz"
texto = "Me llamo {0} {1} pero llamame simplemente {0}"
print(texto.format(nombre, apellido))                           # el primero es el de índice 0

In [ ]:
texto = "El {b} y la {a}"
print(texto.format(a = "Luna", b = "Sol"))

In [ ]:
nombre="Juan"
edad=24
print("Nuestro amigo {} cumple {} años".format(nombre,edad))

In [2]:
print("Para conseguir tu objetivo necesitas tres cosas: {m}, {m} y {m}.".format(m='motivación'))

Para conseguir tu objetivo necesitas tres cosas: motivación, motivación y motivación.

## El sistiema ```f```

In [ ]:
nombre="Juan"
edad=24
print(f"Nuestro amigo {nombre} cumple {edad} años")

In [ ]:
x, y = 4, 6; z = x + y
print(f"La suma de {x} más {y} es igual a {z}")

Podemos realizar operaciones dentro de las comillas.

In [ ]:
print(f'El área es {2*4}')

Incluso podemos invocar funciones dentro de las comillas.

In [ ]:
def doblar(n):
  return 2*n

print(f"El doble de 9 es {doblar(9)}")

## Maquetando texto: alineación

In [4]:
print("{:>30}".format("Python")) # alineación a la derecha de 30 caracteres

                        Python

In [5]:
print("{:30}".format("Python")) # alineación a la izquierda de 30 caracteres

Python

In [7]:
print("{:^30}".format("Python")) # alineación al centro de 30 caracteres

            Python

In [18]:
print("{:.3}".format("Python")) # truncamiento a 3 caracteres

Pyt

In [19]:
print("Me gusta {a} y también {b:.2}".format(a="JavaScript",b="Python")) # dos palabras

Me gusta JavaScript y también Py

In [17]:
print("Me gusta {a:^20.4} y también {b:.2}".format(a="JavaScript",b="Python")) # podemos mezclar: centrado y truncado

Me gusta         Java         y también Py

## Formateo de números enteros

In [22]:
print("{}".format(10))       # nos gustaría alinearlos
print("{}".format(100))
print("{}".format(1000))

10
100
1000

In [24]:
print("{:4d}".format(10))     # alineado a 4 digigos
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

## Formateo de números flotantes
### Rellenados con espacios

In [31]:
import math
e = math.exp(1)
e

2.718281828459045

In [43]:
print("Número e = {:.4f}".format(e)) # formato redondeado a 4 decimales

Número e = 2.7183

In [44]:
print(f"Número e = {e:.2f}")         # con el otro sistema de formato

Número e = 2.72

In [46]:
G=667.42
print(f"Número e = {e:.3f}")
print(f"Número G = {G:.2f}")

Número e = 2.718
Número G = 667.42

Alineando al punto decimal.  
Vemos que en total son 7 caracteres (3 enteros, el punto, 3 decimales).

In [ ]:
print(f"Número e = {e:7.3f}")
print(f"Número G = {G:7.3f}")

### Rellenar con ceros

In [53]:
print(f"Número e = {e:07.3f}")
print(f"Número G = {G:07.3f}")

Número e = 002.718
Número G = 667.420