# Importar csv a Python  
Leer archivos csv como pandas DataFrame.

## Caso1: separado por comas y con cabecera

In [11]:
import pandas as pd             # importamos pandas
path = 'excel/aeropuertos.csv' # establecemos la ruta del archivo
pd.read_csv(path)

          Aeropuerto CodigoIATA   Pasajeros    Mercancía    Insular   Año
0             MADRID        MAD  61.734.944  560.039.136      FALSO  1931
1          BARCELONA        BCN  52.688.455  176.797.909      FALSO  1927
2  PALMA DE MALLORCA        PMI  29.721.142    9.021.606  VERDADERO  1960
3             MALAGA        AGP  19.858.656    3.080.119      FALSO  1946
4           ALICANTE        ALC  15.048.240    4.032.300      FALSO  1951
5       GRAN CANARIA        LPA  13.261.228   19.727.786  VERDADERO  1933
6       TENERIFE SUR        TFS  11.168.707    2.193.378  VERDADERO  1978
7           VALENCIA        VLC   8.539.579   14.515.842      FALSO  1930
8              IBIZA        IBZ   8.155.626    1.434.695  VERDADERO  1949
9            SEVILLA        SVQ   7.544.357    9.891.790      FALSO  1946

## Caso2: separado por punto y coma

In [8]:
path = 'excel/multiriesgo.csv' # establecemos la ruta del archivo
pd.read_csv(path,
            sep=';')

          Multirriesgo Seguro_Directo Cartera
0                Hogar           3,8%    1,8%
1             Comercio          -2,5%    0,0%
2          Comunidades           3,0%    1,5%
3           Industrial           6,9%    0,0%
4  Otros Multirriesgos           7,3%    0,0%

## Caso3: sin nombre de columna

In [10]:
path = 'excel/resultados.csv' # establecemos la ruta del archivo
resultados2020 = pd.read_csv(path,
                             header=None,
                             names=['Resultado','marzo2020','marzo2021'])
resultados2020  # esta es al variable a la que hemos asociado el DataFrame para luego tratarla

              Resultado marzo2020 marzo2021
0                  Vida    548.34    649.28
1           Automóviles    294.33    370.99
2         Multirriesgos     60.25    -25.24
3                 Salud    125.13    138.93
4         Resto No Vida    252.96    356.64
5         Total No Vida    732.66    841.32
6  Total Vida y No Vida  1.281.01  1.490.60

![](PushPyll2.png)