<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/resumen1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
"Hola mundo"

'Hola mundo'

In [ ]:
# esto es un comentario
print('New York')   # también podemos usar comillas simples

New York

# Tipos de datos

In [ ]:
print(25)    # este es un número entero de tipo int (integer)

25

In [ ]:
type(25)     # función que nos dice el tipo de dato

int

In [ ]:
print(3.8)   # este es un número decimal de tipo float
type (3.8)   # en español se llaman "números de coma flotante"

3.8

float

In [ ]:
print("Madrid")        # esto es un string, una cadena alfanumérica
print("Madrid 2036")   # esto es otro string
type('Madrid 2036')

Madrid
Madrid 2036

str

In [ ]:
5 >= 2   # Operador lógico >, analiza la condición y da True o False

True

In [ ]:
type(True)   # Boolean

bool

In [ ]:
2 == 3    # Operador lógico de igualdad

False

In [ ]:
type(2==3)   # primero se evalúa la condición lógica que da False

bool

## Diferencia entre integer y string

In [ ]:
print(5 == '5')

False

# Operaciones algebráicas

In [ ]:
2 + 3   # suma

5

In [ ]:
4 - 6   # resta

-2

In [ ]:
9 * 3    # no se muestra ya que no lleva print
12 / 4   # solo se muestra el último. Al dividir siempre da un float

3.0

In [ ]:
print(9 * 3)     # producto
print(11 / 3)    # división
print(11 // 3)   # división entera (no es redondeo)
print(11 % 3)    # resto (módulo)
print(2 ** 3)    # potencias

27
3.6666666666666665
3
2
8

# El operador punto
Se aplican métodos a objetos.


objeto.método()

In [ ]:
"Hola mundo".upper()   # todo a mayúsculas

'HOLA MUNDO'

In [ ]:
"Vacaciones en Roma".lower()   # todo a minusculas

'vacaciones en roma'

In [ ]:
usuario = 'ana ruiz'   # creamos una variable
usuario.title()        # las primeras letras a mayúsculas y las demás a minúculas

'Ana Ruiz'

In [ ]:
profesion = 'abogado laboralista'
profesion.count('a')    # contar caracteres

5

In [ ]:
cargo = 'ecargado'
cargo.replace('o', 'a')   # reemplazar caracteres

'ecargada'

# Variables

In [ ]:
x = 5
print(x)
print(2*x+7)
2*(x+7)        # los paréntesis tienen prioridad

5
17

24

In [ ]:
nombre = "Ana"
apellido = "Ruiz"
nombre + apellido   # concatenando dos strings

'AnaRuiz'

In [ ]:
nombre + " " + apellido   # añadimos un espacio en medio

'Ana Ruiz'

In [ ]:
# el sistema f para dar formato
edad = 25
f"Me llamo {nombre} {apellido} y mañana cumpliré {edad+1} años."

'Me llamo Ana Ruiz y mañana cumpliré 26 años.'

## Contadores
Un contador es una variable que se va incrementando, habitualmente de uno en uno.

In [ ]:
vidas = 3                  # comenzamos un juego con 3 vidas
print(vidas)

vidas = vidas + 1          # si en el juego ganamos una vida podemos incrementar su valor en uno
print(vidas)

vidas += 1                 # esta es una forma abreviada de escribir lo mismo que antes. Incrementa las vidas en una más.
print(vidas)

vidas -= 1                 # perdemos una vida. Es una forma abreviada de escribir   vidas = vidas - 1
print(vidas)

3
4
5
4

# Concatenar

In [ ]:
a = "Buenos "
b = "Aires"
print(a + b + " es la capital de Argentina.")

Buenos Aires es la capital de Argentina.

In [ ]:
print("1" + "2")

12

In [ ]:
#print( "Tengo" + 15)        # ERROR

# Imprimir

In [ ]:
nombre = "Ana"
edad = 14
print("Hola, me llamo " + nombre + " y tengo " + str(edad) +" años.")
print("Hola, me llamo", nombre, "y tengo", edad, "años.") 
print(f"Hola, me llamo {nombre} y tengo {edad} años.")

Hola, me llamo Ana y tengo 14 años.
Hola, me llamo Ana y tengo 14 años.
Hola, me llamo Ana y tengo 14 años.

# Introduciendo datos con ```input()```
Con la función input conseguimos capturar lo que el usuario escriba por teclado.  
Input siempre captura un **string**. Si introducimos un número 5 lo que captura es '5'.

In [ ]:
nombre = input("¿Cómo te llamas? ")          # recogemos el nombre en una variable, esto hace que se recuerde y se pueda usar luego
nota = float(input("Nota del examen: "))     # float convierte el str a un número con decimales. Si fuera int convierte a un entero.
print(f"Buenos días {nombre}, en el examen tienes una nota de {nota}.")

¿Cómo te llamas? Jose
Nota del examen: 7.5
Buenos días Jose, en el examen tienes una nota de 7.5.