<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/resumen5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bucle `For`
* Un bucle o **loop** es un proceso que se repite un cierto número de veces.
* Es un proceso repetitivo, reiterativo
* El bucle For se repite un número de veces conocido, un número de veces concreto.

```python
for <variable> in <lista>:
    <código>
```

In [ ]:
ciudades =["Roma", "Londres", "París", "Madrid", "Berlín"]

for ciudad in ciudades:
    print(ciudad)

In [ ]:
for ciudad in ciudades:
    if ciudad == "Madrid" or ciudad == "Roma":
        print(ciudad)

## `For` con `range`

In [ ]:
# range crea un iterable de números enteros
range(1,10)

In [ ]:
# convertimos el rango en una lista
list(range(1,10))   # el 10 no se incluye

In [ ]:
list(range(5))   # lista desde el 0 hasta el 4

In [ ]:
for i in range(5):   # la variable i es una variable instrumental, hace referencia al index
    print(i)

In [ ]:
ciudades =["Roma", "Londres", "París", "Madrid", "Berlín"]

for i in range(len(ciudades)):
    print(ciudades[i])

## `For` ... `enumerate`