# Reto 1
Trabajando con la librería *openpyxl* lea los datos de un archivo de Excel con extensión xlsx.

## Solución
* Consulte el archivo calisto3_0210.ipynb encontrará información y ejemplos de la librería *openpyxl*.
* [A Python library to read/write Excel 2010 xlsx/xlsm files](https://openpyxl.readthedocs.io/en/stable)

Trabajaremos con el archivo pyCourse/jupyter/excel/**hosting.xlsx**

![hosting.xlsx](../jupyter/img/hosting.png)

In [1]:
import os
os.getcwd()      # para saber en que directorio estoy en este momento ( directorio de trabajo actual)

'/home/apa/Documents/github/pyCourse/ejemplos'

In [2]:
os.chdir("/home/apa/Documents/github/pyCourse/jupyter/excel") # para cambiar el directorio de trabajo
# estoy usando esta ruta porque estoy en un PC con Linux, en un Windows sería por ejemplo "c:/user/apa/Documents/pyCourse/jupyter/excel"

In [3]:
os.getcwd()        # comprobamos que hemos cambiado el directorio de trabajo al deseado

'/home/apa/Documents/github/pyCourse/jupyter/excel'

In [4]:
import openpyxl    # importamos la librería openpyxl
wb = openpyxl.load_workbook('hosting.xlsx')
type(wb)           # miramos a ver quien es la variable wb

openpyxl.workbook.workbook.Workbook

La función ```sheetnames``` devuelve los nombres de las hojas en un libro de trabajo y puede contar los nombres para informar sobre el número total de hojas en el libro de trabajo actual.

In [5]:
wb.sheetnames      # proporciona la lista de hojas del libro de trabajo

['Sheet1', 'Sheet2', 'Sheet3']

In [6]:
wb.sheetnames[0]   # si son varias hojas podemos elegir la primera

'Sheet1'

In [12]:
s1 = wb[wb.sheetnames[0]]
s1

In [13]:
ws1name = wb.sheetnames[0]  # creamos la variable ws1name para recoger el nombre de la hoja1
ws2name = wb.sheetnames[1]  # creamos la variable ws2name para recoger el nombre de la hoja2
ws3name = wb.sheetnames[2]  # creamos la variable ws3name para recoger el nombre de la hoja3

print(ws1name)
print(ws2name)
print(ws3name)

ws1 = wb['Sheet1']      # creamos la variable ws1 para recoger el objeto de la hoja1
ws2 = wb['Sheet2']      # creamos la variable ws2 para recoger el objeto de la hoja2
ws3 = wb[ws3name]       # creamos la variable ws3 para recoger el objeto de la hoja3. FORMA ALTERNATIVA  

print(ws1)
print(ws2)
print(ws3)

Sheet1
Sheet2
Sheet3
<Worksheet "Sheet1">
<Worksheet "Sheet2">
<Worksheet "Sheet3">

In [14]:
type(ws1)           # proporciona el tipo de objeto que corresponde a la variable ws1 que es una Worksheet

openpyxl.worksheet.worksheet.Worksheet

In [15]:
ws1.title           # proporciona el nombre del Worksheet correspondiente a la variable ws1

'Sheet1'

In [16]:
wb.active           # nos indica quién es la hoja activa

## Accediendo a los datos de las celdas

In [17]:
ws1['A2'].value

datetime.datetime(2022, 1, 5, 0, 0)

### Otra forma de acceder al valor de una celda

In [18]:
zona3 = ws1['B4']
zona3.value

'Norte'

In [19]:
zona3.row

4

In [20]:
zona3.column

2

### Obteniendo el dato de una celda sabiendo su fila y columna

In [21]:
producto6 = ws1.cell(row=7, column=3)
producto6.value

'SEO'

## Mostrando varios datos con un loop

In [22]:
for i in range (1,9):
    print(i, ws1.cell(row=i,column=4).value)

1 Facturación
2 54249
3 54443
4 51795
5 56156
6 53777
7 54193
8 52279

In [23]:
for i in range (1,9):
    print(ws1.cell(row=i,column=1).value, 
          ws1.cell(row=i,column=2).value, 
          ws1.cell(row=i,column=3).value,
          ws1.cell(row=i,column=4).value)

Fecha Región Producto Facturación
2022-01-05 00:00:00 Este Hosting 54249
2022-02-10 00:00:00 Este Hosting 54443
2022-02-18 00:00:00 Norte Web 51795
2022-02-19 00:00:00 Oeste Hosting 56156
2022-02-20 00:00:00 Norte Hosting 53777
2022-02-24 00:00:00 Sur SEO 54193
2022-02-27 00:00:00 Oeste Web 52279

## Importando un archivo Excel como DataFrame
La tabla anterior no tiene una buena presentación. Sería estupendo poder importar la información de Excel directamente a un DataFrame para su posterior tratamiento y una mejor visualización de los datos.

In [25]:
import pandas as pd
df = pd.read_excel('hosting.xlsx', sheet_name='Sheet1')
df.head()

       Fecha Región Producto  Facturación
0 2022-01-05   Este  Hosting        54249
1 2022-02-10   Este  Hosting        54443
2 2022-02-18  Norte      Web        51795
3 2022-02-19  Oeste  Hosting        56156
4 2022-02-20  Norte  Hosting        53777