<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/ejemplos/Resumen1A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola Mundo

In [ ]:
"Hola Mundo"

In [ ]:
print('Hola mundo')

## Comentarios del programador

In [ ]:
# esto es un comentario del programador

## Operaciones básicas

In [ ]:
# suma
5 + 7

In [ ]:
5 - 7  # resta

## Variables
Podemos trabajar con variables:
- declararlas
- asignar un valor
- operar con ellas

In [ ]:
x = 4

In [ ]:
x

In [ ]:
y = 5
y

In [ ]:
z = x + y
print(z)

# Operaciones aritméticas

\+   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Suma, también concatena  
\-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Resta  
\*   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Producto  
**   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Potencias, elevar, también con una librería matemática  
/    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dividir. Siempre da como resultado un número de coma flotante  
//   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; División entera  
%    &nbsp;&nbsp;&nbsp;&nbsp; Resto, Residuo, Módulo

In [ ]:
2+3

In [ ]:
5--3

In [ ]:
5*4

In [ ]:
101/17       # float

Podemos incluir comentarios del programador.

In [ ]:
# al dividir siempre se obtiene un número con coma flotante (float)
12/3

In [ ]:
17//5   # división entera

In [ ]:
17%5    # resto, residuo, módulo

In [ ]:
2**3    # potencias

In [ ]:
9**.5   # raíz cuadrada

## Prelación de operaciones
Los paréntesis tienen prioridad.

In [ ]:
1+((10+5*3)*2)/10

# Cadenas (Strings)

In [ ]:
"hola"            # directamente en el intérprete de Python

In [ ]:
print("Hola")     # usando la función print

## Repetir expresiones

In [ ]:
"hi" * 3          # repetir expresiones

In [ ]:
print("Bienvenidos")
print("="*30)
print("Fin del progama")

## Concatenar expresiones

In [ ]:
"hola" + "mundo"  # concatenar

In [ ]:
print("hola" + " " + "mundo")

## Asignando variables

In [ ]:
string1 = "hola"
string2 =  "mundo"
string3 = string1 + string2  # concatenando
print(string3)               # si olvidamos cerrar el paréntesis se producirá un Error de sintaxis

Un enlace a un post que muestra múltiples formas de decir 'Hola mundo' en Python.

[Hola mundo en Python](https://altocodigo.blogspot.com/2018/06/1-hola-mundo-en-python.html)

## Error al concatenar con un número

In [ ]:
#"Vuelo " + 505               # TypeError: can only concatenate str (not "int") to str

In [ ]:
"Vuelo " + str(505)           # la función str() convierte un número en cadena

### Mi nombre y mi edad
A la edad la tenemos que añadir la función `str()` que convierte un número en cadena (string).

In [ ]:
nombre = "Alex"
edad = 30
print("Me llamo " + nombre + " y tengo " + str(edad) + " años.")

#### Otra forma de escribirlo más moderna, con formato

In [ ]:
print(f"Me llamo {nombre} y tengo {edad} años.")

## Comparando
* = &nbsp;&nbsp;&nbsp;&nbsp;se usa para asignar un valor a una variable
* == &nbsp;&nbsp;se usa para comparar dos valores o variables, formándose una expresión lógica

In [ ]:
2 + 8 == 10          #True

In [ ]:
123 == '123'         #False

In [ ]:
'Hola' == "Hola"     #True

In [ ]:
"A" + "B" == "AB"    #True

# Formateando Cadenas (Strings)


## Sistema antiguo con ```%s```

In [ ]:
print("La capital de %s es %s"%("Lituania", "Vilna"))

## Usando ```format```

In [ ]:
edad = 10
print('Cuando tenía {} años media {} cm.'.format(edad, 140))

In [ ]:
print("La suma de {} más {} es igual a {}".format(2, 3, 2+3))

In [ ]:
texto = "El producto de {} y {} es {}"
print(texto.format(5, 4, 20))

In [ ]:
nombre = "Luis"
apellido = "Olmo"
print("Me llamo {} {}".format(nombre, apellido))

In [ ]:
nombre = "Ana"
apellido = "Vega"
texto = "Me llamo {0} {1} pero llámame simplemente {0}"
print(texto.format(nombre, apellido))                           # el primero es el de índice 0

In [ ]:
texto = "El {b} y la {a}"
print(texto.format(a = "Luna", b = "Sol"))

In [ ]:
nombre = "Juan"
edad = 24
print("Nuestro amigo {} cumple {} años".format(nombre,edad))

In [ ]:
print("Para conseguir tu objetivo necesitas tres cosas: {m}, {m} y {m}.".format(m='motivación'))

## El sistema ```f```

In [ ]:
nombre = "Juan"
edad = 24
print(f"Nuestro amigo {nombre} cumple {edad} años")

In [ ]:
x = 4
y = 6
z = x + y
print(f"La suma de {x} más {y} es igual a {z}")

Podemos realizar operaciones en las llaves, dentro de las comillas.

In [ ]:
print(f'El área es {2*4}')

### Invocando funciones
Incluso podemos invocar funciones dentro de las comillas.

In [ ]:
def doblar(n):
  return 2*n

print(f"El doble de 9 es {doblar(9)}")

# Nombres de variables

Una variable es un espacio en memoria capaz de contener un dato.  
Las variables en Python son **case-sensitive**, se diferencia entre mayúsculas y minúsculas.

Dos estilos:
- [camelCase](https://www.google.com/search?q=camelCase)
- [snake_case](https://www.google.com/search?q=snake_case)

In [ ]:
mi_nombre = "Felipe"  # se recomienda empezar con minúscula
_ciudad = "Buenos Aires"
edad4 = 23

In [ ]:
#mi-nombre = "Ana"    # error, no acepta guion ni otros símbolos

In [ ]:
#mi nombre = "Ana"    # error, no puede contener espacios

In [ ]:
#4edad = 15           # error, no puede empezar por número

In [ ]:
#$edad = 30           # error, no puede empezar por símbolo

In [ ]:
nombreApellidos = "Juan Ruiz"    # lower camel style
NombreApellidos = "Pablo Díez"   # upper camel style
nombre_del_padre = "Juan"        # sanke case
nombreApellidos

In [ ]:
nombreApellidos == NombreApellidos   # False, case sensitive

# Palabras reservadas  
Existen ciertos nombres reservamos que no se pueden usar como nombres de variables.

- and
- as
- assert
- break
- class
- continue
- def
- del
- elif
- else
- except
- exec
- finally
- for
- from
- global
- if
- import
- in
- is
- lambda
- not
- or
- pass
- print
- raise
- return
- try
- while
- with
- yield

In [ ]:
# Ejemplo que da error
#import = 15

In [ ]:
# import es una palabra reservada del lenguaje 
# (Python Keywords)
# Mejor myimport
myimport = 15
myimport

# Escribiendo líneas de código

In [ ]:
print("Hola")      # imprimir en una línea

## Imprimir en varias líneas

In [ ]:
print("""Esto es
una impresión
de un párrafo
en varias líneas""")

In [ ]:
print('''Elija la opción deseada:
   1 Escribir
   2 Editar
   3 Grabar
   4 Borrar''')

### ```\n``` significa new line

In [ ]:
print("Seleccione su destino \nPlaya \nMontaña")         # con \n hacemos un cambio de línea

### ```\t``` significa tabulador

In [ ]:
print("Seleccione su destino \n\tPlaya \n\tMontaña")     # con \t introducimos un tabulador

### ```r``` significa raw
Permite escribir el contenido de una cadena en bruto (en crudo).

In [ ]:
print(r"Seleccione su destino \n\tPlaya \n\tMontaña")    # r Imprime en bruto (raw)

#### Usando caracteres de escape
Las secuencias de escape permiten incluir caracteres especiales en las cadenas. Lo conseguiremos añadiendo una barra invertida `\` antes del carácter que deseemos escapar.

##### sin raw, sin caracter de escape

In [ ]:
print("Si usamos \n creamos una nueva línea, quivale a un 'retorno de carro'.")   # no ha funcionado, no se ve el  \n

##### con raw

In [ ]:
print(r"Si usamos \n creamos una nueva línea, quivale a un 'retorno de carro'.")  # ahora si ha funcionado, si se ve el  \n

##### con caracter de escape

In [ ]:
print("Si usamos \\n creamos una nueva línea, quivale a un 'retorno de carro'.")  # también funciona con un caracter de escape \\n

## Una única línea de código en varias líneas de texto

Veamos un ejemplo que luego vamos a transformar.

In [ ]:
x = 1
y = 2
z = 3
if x==1 and y==2 and z==3:
    print("Los valores son correctos.")

El caso anterior se puede escribir de otra forma.

* ```;``` Con el punto y coma podemos escribir varias líneas de código en una sola línea de texto.
* ```\``` Con la barra invertida podemos separar una línea de código en varias líneas de texto.

In [ ]:
x=1; y=2; z=3
if x==1 and \
   y==2 and \
   z==3:
    print("Los valores son correctos.")

## Escribiendo en raw

### Ejemplo 1

In [ ]:
print("C:\directorio\nombre")  # se imprime incorrectamente en dos líneas

#### Solución 1

In [ ]:
print(r"C:\directorio\nombre")  # r indica que se imprimirá en raw (en crudo)

#### Solución 2

In [ ]:
print("C:\\directorio\\nombre") # utilizando caracteres de escape

### Ejemplo 2

In [ ]:
# imprimiendo caracteres Unicode. Se pone \u y luego el código del carácter Unicode
print("\u0061")         # a
print("\u265E")         # ♞
print("\u2167")         # Ⅷ
print("\u2211")         # ∑
print("\u23F3")         # ⏳

In [ ]:
#print("C:\user\eloisa")    # Se produce un error ya que después de \u Python espera encontrar un carácter Unicode

#### Solución 1: con raw

In [ ]:
print(r"C:\user\eloisa")    # solución 1 con r de raw

#### Solución 2: con caracter de escape

In [ ]:
print("C:\\user\\eloisa")    # solución 2 con caracteres de escape

## Variables con caracteres de impresión

In [ ]:
frase = "Primero \tiremos a la playa \nSegundo \taprenderemos a nadar"
print(frase)

## Imprimiendo línea vacía
Usando print()

In [ ]:
print('Playa')
print('Montaña')
print()
print('Elija sus vacaciones favoritas')

In [ ]:
print('Playa')
print('Montaña')
print('')
print('Elija sus vacaciones favoritas')

In [ ]:
print('Playa')
print('Montaña\n')
print('Elija sus vacaciones favoritas')

## La coma como separador
En un print podemos separar con coma que es un separador que imprime un espacio.  
Este separador se puede cambiar.

In [ ]:
m = "Madrid"
p = "París"
r = "Roma"
print(m, p, r)             # al imprimir se separan las ciudades con un espacio

In [ ]:
print(m, p, r, sep=";")    # cambiamos el separador a un punto y coma

In [ ]:
print(m, p, r, sep="\n")   # cambiamos el separador a un retorno de carro

# Variables  
* Declaración &nbsp;&nbsp;&nbsp;→&nbsp;&nbsp; en Python no declaramos el tipo de las variables
* Inicialización &nbsp;&nbsp;→&nbsp;&nbsp; cuando se asigna un primer valor
* Asignación &nbsp;&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp; cuando se modifica el valor de la variable

In [ ]:
x = 3
x = 10
print(x)   # imprime 10 que es el último valor, una nueva asignación reemplaza el valor de la vble.
x = x+1    # ahora la variable x vale 11.  Equivale a poner   x+=1   (contador)
x

In [ ]:
a, b, c = 10, 20, 30             # asignación a múltiples variables
p = q = r = 1                    # las tres variables se asignan al mismo valor

In [ ]:
print('a=', a, 'b=', b, 'c=', c)                           # al separar con coma se deja un espacio
print('a=' + str(a) + ', b=' + str(b) + ', c=' + str(c))   # solución 1 para evitar el espacio
print(f'a={a}, b={b}, c={c}')                              # solución 2 para evitar el espacio

# Permutar valores  
## Utilizando una variable auxiliar
<img src="https://github.com/financieras/pyCourse/blob/main/jupyter/img/rojo_amarillo_azul_.jpg?raw=1" alt="Tres vasos" width="250"/>

In [ ]:
a = 5
b = 10
aux = a                          # creamos una variable auxiliar, se suele llamar aux o temp
a = b
b = aux
print(f'a={a}, b={b}')

## Python permite permutar en una sola línea

In [ ]:
a, b = 5, 10
a, b = b, a                      # otra forma maravillosa de permutar valores
print(f'a={a}, b={b}')

# Constantes  
En Python no hay que declarar las constantes.  
Una constante es una variable que no cambiará durante la ejecución del programa.  
Por convenio se nombran en mayúsculas, por ejemplo:

In [ ]:
IVA = 0.21
IVA

## Importar las constantes de un fichero
Otra opción es incorporar todas las constantes a un fichero y luego importar el fichero.  
Creamos el archivo *constantes.py* en la subcarpeta *mypy* (o el nombre que quieras).

In [ ]:
# este es el contenido del archivo constantes.py
# no ejecutamos estas líneas en Colab, por eso van comentadas

#LUZ = 299708  # velocidad de la luz en km/s
#G = 9.832     # gravedad de la tierra m/s2

Luego importamos la constante LUZ con alguno de los siguientes métodos.

### Método 1 importando todo el módulo
Antes de ejecutar este método podemos limpiar el kernel.

#### Método 1.A: si estamos trabajando con Jupyter Notebook
* Usando Anaconda o usando simplemente un Jupyter Notebook, sin usar Google Colab
* Si ejecutamos las siguientes líneas desde Colab dará error (vea el método 1.B)

In [ ]:
# dejamos comentadas estas líneas ya que en Colab darían error
# estas líneas funcionarían correctamente trabajando con Jupyter Notebook en local

#from mypy.constantes import *
#hasta_luna = 406700 / LUZ
#print(hasta_luna, 'segundos')

#### Método 1.B: si estamos trabajando con Google Colab
En caso de usar Google Colab, previamente necesitamos clonar el repositorio que está en GitHub.

A la izquierda pulsamos sobre el icono con forma de carpeta (files) y se despliega el arbol de carpetas de nuestra sesión de Colab.  
Observe los cambios que se van a producir en la carpeta `content` donde, después del clonado, aparecerá nuestro repositorio que se llama `pyCourse`.

<img src="https://github.com/financieras/pyCourse/blob/main/jupyter/img/files_antes.png?raw=1" alt="antes" width="200"/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="https://github.com/financieras/pyCourse/blob/main/jupyter/img/files_despues.png?raw=1" alt="despues" width="200"/>

In [ ]:
# así efectuamos el clonado de nuestro repositorio que está en GitHub
!git clone https://github.com/financieras/pyCourse.git

In [ ]:
# para saber en qué directorio estoy
%pwd

In [ ]:
# nos vamos hasta el directorio jupyter
%cd pyCourse/jupyter

In [ ]:
%pwd

In [ ]:
from mypy.constantes import LUZ
# se pone el directorio mypy, se pone punto, se pone constantes sin el .py

In [ ]:
LUZ          # comprobamos si ahora ya tenemos acceso a la constante LUZ

### Método 2 importando solo una constante
Antes de ejecutar este método podemos limpiar el kernel.

In [ ]:
# dejamos comentadas estas líneas ya que en Colab darían error
# estas líneas funcionarían correctamente trabajando con Jupyter Notebook en local

#from mypy.constantes import LUZ
#hasta_luna = 406700 / LUZ
#print(hasta_luna, 'segundos')

### Método 3 importando todas las constantes
Antes de ejecutar este método podemos limpiar el kernel.

In [ ]:
# dejamos comentadas estas líneas ya que en Colab darían error
# estas líneas funcionarían correctamente trabajando con Jupyter Notebook en local


#import mypy.constantes
#hasta_luna = 406700 / mypy.constantes.LUZ
#print(hasta_luna, 'segundos')

### Método 4 importando con un alias
Antes de ejecutar este método podemos limpiar el kernel.

In [ ]:
# dejamos comentadas estas líneas ya que en Colab darían error
# estas líneas funcionarían correctamente trabajando con Jupyter Notebook en local

#import mypy.constantes as cte               # podemos poner el alias que queramos
#hasta_luna = 406700 / cte.LUZ               # distancia más lejana: apogeo 406700 Km
#print(hasta_luna, 'segundos')

## Podemos correr un archivo .py
* Podemos correr un archivo .py dando la orden desde una celda de Jupyter notebook.  
* Esto es una forma alternativa de proceder, si estamos trabajando desde un Jupyter notebook o un Jupyter lab.  
* También funciona en Colab si hemos clonado previamente el repositorio y estamos en el directorio correcto.

[Celdas mágicas](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-run)

In [ ]:
%run ./mypy/constantes.py      # con el % interactuamos con el sistema operativo (con la terminal)
G

# Strings

## Comparar strings

In [ ]:
cadena1 = "Hola"                                          # con ""
cadena2 = 'Hola'                                          # con ''
cadena1 == cadena2                                        # True

## Comillas dentro de comillas

In [ ]:
#cadena3 = 'En los años 90's actuaban grandes bandas'     # error

In [ ]:
cadena3 = "En los años 90's actuaban grandes bandas"     # ahora funciona bien usando comillas dobles
print(cadena3)

In [ ]:
print('En los años 90\'s actuaban grandes bandas')       # también funciona bien usando un carácter de escape

## Caracteres de escape

In [ ]:
print('Secuencias de escape: \\  \'  \"   ')

## Tabuladores

In [ ]:
print('Mis amigos: \nAna \tMadrid \nLuis \tSevilla \nIsabel \tSantander')

In [ ]:
# En un párrafo usando comillas triples

print('''Tareas pendientes:
\tBuscar destino para las próximas vacaciones
\tBuscar una bici eléctrica''')

## Imprimir una variable

In [ ]:
a = "Hola"
print(a)

## Comillas triples
Las triples comillas permiten imprimir varias líneas.

In [ ]:
b = '''Esta es una frase que 
ocupa varias líneas y que va 
entre triples comillas que
pueden ser simples o dobles.'''
print(b)

## len()
Proporciona la longitud de la cadena.

In [ ]:
c = "¡Hola, mundo!"
len(c)

## in
Permite detectar si una palabra está dentro de una frase.

In [ ]:
frase = "La libertad, Sancho, es uno de los más preciosos dones que a los hombres dieron los cielos"
"libertad" in frase        # True

## not in

In [ ]:
frase = "Todos los seres humanos nacen libres e iguales en dignidad y derechos"
"Sancho" not in frase      # True

## Orden alfabético

In [ ]:
"b" > "a"                  # True

In [ ]:
"naciente" > "yaciente"    # False

## Concatenar

In [ ]:
"buena" + "aventura"

In [ ]:
'en' 'hora' 'buena'    # también podemos separar los strings con un espacio

## replace()

In [ ]:
"hola".replace('h','m')

In [ ]:
"Voy a Roma".replace("Roma","Niza")

# Input  
El valor introducido se toma como string.

In [ ]:
input()     # Introduciendo un número lo toma como string. Pulse ENTER después de introducir el valor

In [ ]:
print("¿Cómo se llama?")
nombre = input()
print("Me alegro de conocerle", nombre)

In [ ]:
input("Introduzca un número: ")  # Añadiendo texto dentro del paréntesis

In [ ]:
num = input("Introduzca un número: ")
print(num)

### Convirtiendo el string en un int

In [ ]:
num = int(input("Introduzca un número entero: "))         # int convierte el string a entero
num

In [ ]:
# Sumando dos enteros
num1 = int(input("Introduzca el primer número: "))
num2 = int(input("Introduzca el segundo número: "))
print("La suma es: ", num1 + num2)

In [ ]:
# Sumando dos enteros
num1 = input("Introduzca el primer número: ")
num2 = input("Introduzca el segundo número: ")
print("La suma es: ", num1 + num2)                # observe que ahora no suma, concatena

In [ ]:
# Multiplicando dos enteros
num1 = int(input("Introduzca el primer número: "))
num2 = int(input("Introduzca el segundo número: "))
print("El producto de", num1 , "por", num2, "es igual a", num1*num2)
print("El producto de {} por {} es igual a {}".format(num1, num2, num1*num2))
print(f"El producto de {num1} por {num2} es igual a {num1*num2}")

### Convirtiendo el string en un float
El separador de decimales es el punto.

In [ ]:
num = float(input("Introduzca un número con decimales: ")) # float convierte el string a flotante
num

In [ ]:
# Dividiendo dos flotantes
num1 = float(input("Introduzca el primer número: "))
num2 = float(input("Introduzca el segundo número: "))
print("El cociente de " + str(num1) + " entre " + str(num2) + " es igual a " + str(num1 / num2))
print(f"El cociente de {num1} entre {num2} es igual a {num1/num2}")

## Variable como argumento de la función input()

In [ ]:
nombre = input("Dígame su nombre: ")
apellido = input(f"Dígame su apellido, {nombre}: ")
print(f"Al final nos conocemos en persona, {nombre} {apellido}.")

## Valor por defecto en un input()
Si ponemos un ```or``` podemos incluir un valor por defecto. 
Si el usuario pulsa ENTER cuando se le pregunta, la repuesta será el valor por defecto.

In [ ]:
hojaCalculo = input("Indique su Hoja de Calculo favorita: ") or "Excel"
print(hojaCalculo)

# Booleanos: True, False

In [ ]:
5 == 5                 # True       Operador de comparación: 'Igual a'

In [ ]:
5 >= 7                 # False      Mayor o igual que

In [ ]:
9 == '9'               # False

In [ ]:
'Roma' > 'Bogotá'    # True

In [ ]:
4 != 4                 # False    Operador de comparación: Distinto o 'no es igual a'

## Comparación de Booleanos

In [ ]:
True == True           # True

In [ ]:
True == False          # False

In [ ]:
True != False          # True

### Verdadero es 1 y Falso es 0

In [ ]:
True == 1              # True

In [ ]:
False == 0             # True

In [ ]:
True *3                # 3

In [ ]:
2*(-True)+False+True   # -1

In [ ]:
True > False           # True

In [ ]:
False > True           # False

In [ ]:
True * False           # 0

## Comparando varios simultáneamente

In [ ]:
1 < 2 < 3              # True

## Operando con variables

In [ ]:
a = 5
b = 10
b == 2*a               # True   No confundir == (comparación) con = (asignación)

### Trabajando con strings

In [ ]:
x = "Python"
x[-1] == 'n'           # True

## type()

In [ ]:
type(False)

In [ ]:
type(5)

In [ ]:
type("Hola")

## not

In [ ]:
not True               # False

In [ ]:
not False              # True

## Distinto ```!=```

In [ ]:
4 != 4                 # False

In [ ]:
4 != 5                 # True

## Operador ```is``` y operador ```is not```
Permiten comparar **objetos idénticos**.

In [ ]:
x = 5
y = 5
x is y                 # True

Dos listas son idénticas cuando se trata del mismo objeto, cuando ocupan el mismo lugar en memoria.

In [ ]:
p = [1,2,3]
q = [1,2,3]
p is q                 # False  ¡Sorpresa!

In [ ]:
p is not q             # True

In [ ]:
p == q                 # True

### Comprobación con el método ```id()```
El método id() devuelve un identificador del **objeto**.  
Veamos que ambos identificadores difieren.

In [ ]:
id(p)                  # identificador del objeto

In [ ]:
id(q)                  # un identificador distinto

### Idéntica lista

In [ ]:
p = [1,2,3]
q = p                  # q es una lista idéntica a p
q

In [ ]:
q is p                 # ambas listas ocupan el mismo lugar de memoria

In [ ]:
id(p)                  # el identificador de la lista p

In [ ]:
id(q)                  # es el mismo que el identificado de la lista q

# Funciones internas
Funciones integradas en Python.  
[Funciones Built-in](https://docs.python.org/es/3.9/library/functions.html)

- print()
- exit()
- abs()
- round()
- chr()
- float()
- int()
- str()
- input()
- len()
- max()
- min()
- sum()
- pow()
- eval()

## type

In [ ]:
type("Hola")

In [ ]:
type(5)

In [ ]:
type(10/2)

In [ ]:
type(5==5)

In [ ]:
type(5=='5')

In [ ]:
num = input("Indique un número:")
print(7==num)                     # ¿alguna vez dará True?
type(7==num)

## len

In [ ]:
len("Hola")                       # longitud 4

In [ ]:
len([])

In [ ]:
len([1,2,3])

## eval

In [ ]:
x = 2
eval("1+3*x")                     # 7

## sum

In [ ]:
sum([1, 2, 3])                    # 6   suma los elementos de una lista

## pow

In [ ]:
pow(2,3)                          # función potencias

## abs

In [ ]:
abs(-3)

## round

In [ ]:
round(6.9)

In [ ]:
round(3.14159, 3)

## str

In [ ]:
edad = 5
#print('Solo tiene ' + edad + ' años')         # TypeError: can only concatenate str (not "int") to str

In [ ]:
print('Solo tiene ' + str(edad) + ' años')     # Solo tiene 5 años  str() convierte un número en un string
print('Solo tiene {} años'.format(edad))       # Solo tiene 5 años
print(f'Solo tiene {edad} años')               # Solo tiene 5 años

## int

In [ ]:
print(int(5.7))                                # 5

## float

In [ ]:
float("3.14")

## chr

In [ ]:
chr(65)                                    # 'A' carácter código ASCII

## bin
Para pasar un número a binario.

In [ ]:
bin(3)

In [ ]:
int('0b11', 2)                              # proceso inverso, convierte un binario en decimal, se indica base 2

There are only 10 kinds of people in the world: those who understand binary, and those who don't.

## hex
Para pasar a un número en hexadecimal (base 16)  
* 0123456789abcdef

In [ ]:
hex(10)

In [ ]:
int('0xa', 16)                              # proceso inverso, convierte un hexadecimal en decimal, se indica base 16

## hash
Devuelve el hash de un valor.

In [ ]:
hash("hola")

In [ ]:
hash(2) == hash(2.0)                       # el hash de un número entero coincide con el hash de ese número pero flotante

## help
Tecleando topics obtenemos palabras sobre las que podemos buscar ayuda.  
Para salir de la ayuda presione q

In [ ]:
help()

## Ejercicio  
Solicitar al usuario dos números y calcular el máximo y el mínimo.

In [ ]:
num1 = float(input("Indique un número: "))
num2 = float(input("Indique otro número: "))
print(f'El máximo entre {num1} y {num2} es {max(num1,num2)}')
print(f'El mínimo entre {num1} y {num2} es {min(num1,num2)}')

# String como iterable
Los índices comienzan por **cero**.

![Buenos Aires](https://github.com/financieras/pyCourse/blob/main/jupyter/img/Buenos_Aires.png?raw=1)

In [ ]:
ciudad = "Buenos Aires"
print(ciudad[0])                 # B se comienza por el índice 0
print(ciudad[1])                 # u
print(ciudad[2])                 # e
print(ciudad[3])                 # n
print(ciudad[4])                 # o
print(ciudad[5])                 # s
print(ciudad[6])                 # 
print(ciudad[7])                 # A
print(ciudad[8])                 # i
print(ciudad[9])                 # r
print(ciudad[10])                # e
print(ciudad[11])                # s

## Índices negativos

In [ ]:
len(ciudad)

In [ ]:
print(ciudad[-1])                # s
print(ciudad[-2])                # e
print(ciudad[-3])                # r
print(ciudad[-4])                # i
print(ciudad[-5])                # A
print(ciudad[-6])                #  
print(ciudad[-7])                # s
print(ciudad[-8])                # o
print(ciudad[-9])                # n
print(ciudad[-10])               # e
print(ciudad[-11])               # u
print(ciudad[-12])               # B

In [ ]:
print(ciudad[len(ciudad)-1])     # s
print(ciudad[-len(ciudad)])      # B

## Slicing (métodos de corte)

In [ ]:
print(ciudad[0:4])               # Buen
print(ciudad[:4])                # Buen
print(ciudad[7:10])              # Air
print(ciudad[:])                 # Buenos Aires
print(ciudad[2:9:2])             # eo i
print(ciudad[-5:])               # Aires

In [ ]:
#ciudad[30]                      # IndexError: string index out of range

In [ ]:
ciudad[7:30]                     # Con slicing si funciona aunque nos salgamos del índice

In [ ]:
ciudad[30:]                      # aquí no hay nada. No da error, devuelve cadena vacía

## Reverso de un string

In [ ]:
palabra = 'sogima'
print(palabra[::-1])             # reverso de una palabra

## Cadena completa

In [ ]:
ciudad[:]

In [ ]:
ciudad[:5] + ciudad[5:]

## Las cadenas son inmutables
Si intentamos cambiar un carácter nos dará error.

In [ ]:
#ciudad[0] = 'G'                 # TypeError: 'str' object does not support item assignment

Esto no es un gran inconveniente ya que podemos conseguirlo con slicing.

In [ ]:
ciudad="G" + ciudad[1:]
ciudad

# String: métodos
[Métodos de las cadenas](http://pyspanishdoc.sourceforge.net/lib/string-methods.html)

In [ ]:
frase = 'Seguir sin detenerse, ese es el secreto del éxito'
palabra = 'secreto'
print(palabra in frase)                       # True                  Operador de pertenencia: in
print('Secreto' not in frase)                 # True (case sensitive) Operador de pertenencia: not in

In [ ]:
ciudad='londres'
print(palabra.upper(),ciudad.capitalize(),'New York'.lower())

In [ ]:
print("los ángeles".title())                  # Los Ángeles

In [ ]:
print(ciudad.islower())                       # True
print(ciudad.isupper())                       # False

In [ ]:
print("100".isdigit())                        # True
print("Hola Mundo".istitle())                 # True

In [ ]:
print("Hola mundo futuro".split())            # separa por palabras

In [ ]:
print("Hola mundo futuro".split()[0])         # Hola

In [ ]:
elementos = '3840x2160'                       # pixeles 4k UHD 16:9
print(elementos.split('x'))                   # separando por el carácter x

In [ ]:
print("   Buenos días     ".strip())          # borra los espacios sobrantes al inicio y al final

In [ ]:
print("Hola mundo".replace('o','0'))          # H0la mund0. Cambia una palabra o una letra por otra

In [ ]:
print("si eres madre, serás madre para siempre".count("madre"))  # 2

In [ ]:
print("de Madrid al cielo".find("Madrid"))    # 3

In [ ]:
print("en Roma encontré a Romeo".find("R"))   # si hay dos R da el índice de la primera

In [ ]:
print("en Roma encontré a Romeo".rfind("R"))  # si hay varias R da el índice de la ultima

El método isalnum() devuelve True si todos los caracteres son alfanuméricos, es decir, letras del alfabeto (a-z) y números (0-9).  
Ejemplo de caracteres que no son alfanuméricos: (espacio)! #% &? etc.

In [ ]:
"París2024".isalnum()

El método isalpha() devuelve True si todos los caracteres son letras del alfabeto (a-z).  
Ejemplo de caracteres que no son letras del alfabeto: (espacio)! #% &? 0123456789 etc.

In [ ]:
"señoríaAlfonsoX".isalpha()                   # True  contiene ñ y tilde pero no tiene espacio

# Listas [1]  
Arrays   (arreglos)  
Una lista es un conjunto iterable de datos ordenados que van entre corchetes ```[]```

In [ ]:
[]                             # lista vacía

In [ ]:
[10, 15, 12]                   # una lista de tres elementos con números enteros

Una lista es una estructura de datos formada por una secuencia **ordenada** de objetos.  
En una lista el orden importa.

In [ ]:
['azul', 'rojo', 'verde', 'rosa']        # una lista con strings

In [ ]:
[4, 'lunes', 3.14, True, None]           # admite cualquier valor

In [ ]:
comida = ['spagueti', 'pollo', 'tarta']  # asignación a una variable
print(comida)                            # ['spagueti', 'pollo', 'tarta']

## Podemos trabajar con índices

In [ ]:
comida[0]                      # 'spagueti'   se comienza por el índice 0 
comida[1]                      # 'pollo'
comida[2]                      # 'tarta'      ¿por qué solo se imprime 'tarta'?

## Longitud de una cadena

In [ ]:
p = [1, 2, 3, 4]
q = [4, 5, 6, 7]
len(p) == len(q)               # True

## Las cadenas admiten slicing

In [ ]:
comida[:2]                     # ['spagueti', 'pollo']

In [ ]:
p[-1] == q[0]                  # True

## Las listas no son inmutables
Las listas pueden cambiar. Podemos reemplazar sus elementos.  
Vamos a reemplazar el elemento de índice 0 que es spaguetis por otra palabra espaguetis (con e al inicio).

In [ ]:
comida[0] = 'espagueti'        # reemplazando un elemento, escribimos espagueti con e
print(comida)                  # ['espagueti', 'pollo', 'tarta']

## Tipo lista

In [ ]:
print(type(comida))             # <class 'list'>

## Listas dentro de listas

In [ ]:
lista = [comida, 23, True, 15.60]  # una lista dentro de una lista
print(lista)

### Matriz:  Array 2D
Matriz de dos dimensiones.

In [ ]:
matriz = [[11,12,13,14],
          [21,22,23,24],
          [31,32,33,34]]
matriz                          # dos filas, cuatro columnas, 2×4

#### Listas anidadas

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
m = [a, b, c]
m                               # matriz de dos dimensiones

#### Accediendo a una lista dentro de otra lista

In [ ]:
m[0]

#### Accediendo a un elemento en una matriz

In [ ]:
m[0][0]

In [ ]:
m[2][2] == m[-1][-1]            # ¿9 es igual a 9?

### Una listas que incluye dos listas

In [ ]:
bebida = ['agua', 'vino', 'cerveza']
menu = [comida, bebida]                       # una lista que incluye dos listas
print(menu)
print(menu[1][2])                             #cerveza
print(comida[len(comida)-1] == comida[-1])    #True

## Sumar dos listas es unir dos listas en una

In [ ]:
carta = comida + bebida         # la carta del restaurante es la unión de comida y bebida
print(carta)

## Borrar un elemento de la lista

In [ ]:
del carta[-2]                   # eliminamos el vino
print(carta)                    # ['espagueti', 'pollo', 'tarta', 'agua', 'cerveza']

## Anexar un elemento a una lista
Añadir el elemento en la última posición.

In [ ]:
carta.append('limonada')        # añadimos al final un elemento
print(carta)                    # ['espagueti', 'pollo', 'tarta', 'agua', 'cerveza', 'limonada']

## Comprobar si un elemento está en la lista

In [ ]:
print('tarta' in carta)         # True    Operador de pertenencia: in
print('fruta' in carta)         # False

## Índice de un elemento en la lista
Ver que número de índice ocupa un elemento en la lista

In [ ]:
oferta = ['espagueti', 'pollo', 'tarta', 'agua', 'cerveza']
print(oferta.index('tarta'))    # 2

### Añadimos café

In [ ]:
oferta.append('café')           # ['espagueti', 'pollo', 'tarta', 'agua', 'cerveza', 'café']
print(oferta)

### Removemos el agua

In [ ]:
oferta.remove('agua')           # ['espagueti', 'pollo', 'tarta', 'cerveza', 'café']
print(oferta)

### Eliminamos el úlimo elemento con pop

In [ ]:
oferta.pop()                    # ['espagueti', 'pollo', 'tarta', 'cerveza']
print(oferta)

### Insertamos un elemento en una posición concreta

In [ ]:
oferta.insert(2, 'fruta')       # ['espagueti', 'pollo', 'fruta', 'tarta', 'cerveza']
print(oferta)

In [ ]:
oferta.insert(0, 'pan')         # ['pan', 'espagueti', 'pollo', 'fruta', 'tarta', 'cerveza']
print(oferta)

### Eliminar parte de una lista

In [ ]:
oferta[:2] = []                 # usando slicing e igualando a una lista vacía
oferta

### Eliminando completamente el contenido de la lista

In [ ]:
oferta = []                     # asignando la lista a una lista vacía
oferta

#### Método 1 ```list=[]```

In [ ]:
list1 = [1, 2, 3]
list2 = list1
list1 = []
print("list1", list1)
print("list2", list2)

#### Método 2 ```list.clear()```

In [ ]:
list1 = [1, 2, 3]
list2 = list1
list1.clear()
print("list1", list1)
print("list2", list2)

#### Método 3 ```del list[:]```

In [ ]:
list1 = [1, 2, 3]
list2 = list1
del list1[:]
print("list1", list1)
print("list2", list2)

#### Método 4 ```list *= 0```

In [ ]:
list1 = [1, 2, 3]
list2 = list1
list1 *= 0
print("list1", list1)
print("list2", list2)

# Listas [2]  Slicing Lists

## Índices en una lista (**Index**)

In [ ]:
dias = ['lun', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom']
print(dias[0])
print(dias[1])
print(dias[2])
print(dias[3])
print(dias[4])
print(dias[5])
print(dias[6])

### Índices negativos

In [ ]:
print(dias[-1])
print(dias[-2])
print(dias[-3])
print(dias[-4])
print(dias[-5])
print(dias[-6])
print(dias[-7])

## Slice notation  
- lista[start:stop]  # items desde start hasta stop-1
- lista[start:]      # items desde start hasta el final
- lista[:stop]       # items desde el inicio hasta stop-1
- lista[:]           # crea una copia del array completo

In [ ]:
print(dias[2:5])
print(dias[2:])
print(dias[:5])
una_copia = dias[:]
print(una_copia)

### Valores negativos

In [ ]:
print(dias[-1])         # el último elemento del array
print(dias[-2:])        # los dos últimos elementos del array
print(dias[:-2])        # todos los elementos desde el inicio hasta el -2 excluido

### lista[Star:Stop:Step]

In [ ]:
print(dias[::-1])       # todos los elementos de la matriz invertidos  (reverse)
print(dias[1::-1])      # los dos primeros elementos invertidos
print(dias[:-3:-1])     # los dos últimos elementos invertidos
print(dias[-3::-1])     # todo excepto los dos últimos elementos e invertidos

## lista[slice(Star,Stop,Step)]  equivale a  lista[Star:Stop:Step]

In [ ]:
dias[slice(None, None, -1)]

In [ ]:
dias[slice(1, None, 2)]

## Separar listas

In [ ]:
lista_completa = ['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4]
lista_letras = lista_completa[0:5]             # ['a', 'b', 'c', 'd', 'e'] El índice 5 no se incluye
lista_numeros = lista_completa[5:9]            # [1, 2, 3, 4] El índice 9 no se incluye
print(lista_letras)
print(lista_numeros)

In [ ]:
print(lista_completa[:5])                      # ['a', 'b', 'c', 'd', 'e']
print(lista_completa[5:])                      # [1, 2, 3, 4]

In [ ]:
print(lista_completa[-4:])                     # [1, 2, 3, 4]
print(lista_completa[1::2])                    # ['b', 'd', 1, 3]

In [ ]:
print(lista_completa[6])                       # 2
print(lista_completa[6:7])                     # [2]
lista_completa[6] != lista_completa[6:7]       # 2!=[2] El valor 2 es distinto de la sublista [2]

## ```list(range(10))```

In [ ]:
mi_rango=range(10)
print(mi_rango)               # range(0, 10)
print(type(mi_rango))         # <class 'range'>
list(mi_rango)                # se puede convertir en una lista

In [ ]:
numeros=list(range(10))
print(numeros)                # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Inicializar una lista con ceros

In [ ]:
ceros = [0]*10
print(ceros)                  # [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(len(ceros))             # 10

In [ ]:
del ceros[2:]                 # eliminamos desde el elemento de índice 2 incluido hasta el final
print(ceros)                  # [0, 0]

## Añadir al inicio

In [ ]:
ls = ["Bea", "Carmen"]
ls.insert(0, "Ana")
ls

# Listas [3] Copiar listas y matrices

## Copiar lista
### Igualando dos listas
Igualando dos listas no se hace una copia de valores, se trata de la misma. Ambas ocupan el mismo lugar de memoria y tienen el mismo identificador (id).

In [ ]:
l1 = ['a', 'b', 'c']
l2 = l1              # igualando dos listas se trata del mismo objeto
print("l1: ", l1)
print("l2: ", l2)

#### Comprobación
Si añadimos con append un elemento a una lista también se añade a la otra puesto que se trata del mismo objeto.

In [ ]:
l1.append("x")
print("l1: ", l1)
print("l2: ", l2)

In [ ]:
print(id(l1))
print(id(l2))

### Creando un nuevo objeto lista

In [ ]:
l1 = ['a', 'b', 'c']
l2 = l1[:]           #así se crea un nuevo objeto l2. También vale poner l2=list(l1)
print("l1: ", l1)
print("l2: ", l2)

#### Comprobación
Al añadir un nuevo elemento con append a una lista la otra no queda afectada. Se trata de dos listas que son independientes, son dos objetos diferentes.

In [ ]:
l1.append("x")
print("l1: ", l1)
print("l2: ", l2)

## Copiar una matriz  
### Igualando dos matrices
Igualando dos matrices no se hace una copia de valores, se trata de la misma. Ambas ocupan el mismo lugar de memoria y tienen el mismo identificador (id).  
* Lista de listas  
* Matrices  
* Arrays 2D

In [ ]:
x = [[1,2], [3,4]]       # matriz 2x2 o lista bidimensional
y = x                    # igualando dos listas no se hace una copia de valores, se trata de la misma
print("x: ", x)
print("y: ", y)

In [ ]:
x[0][0] = 88             # modificamos un valor de una de las dos matrices
print("x: ", x)
print("y: ", y)

In [ ]:
print(id(x))
print(id(y))

### Creando un nuevo objeto matriz
Para copiar una lista multidimensional usamos deepcopy.

In [ ]:
from copy import deepcopy
x = [[1,2], [3,4]]
y = deepcopy(x)       # usando deepcopy
print("x: ", x)
print("y: ", y)

#### Comprobación
Al añadir un nuevo elemento con append a una matriz la otra no queda afectada. Se trata de dos matrices independientes, son dos objetos diferentes.

In [ ]:
x[0][0] = 88
print("x: ", x)
print("y: ", y)

Los objetos tienen diferente identificador.

In [ ]:
print(id(x))
print(id(y))

# Listas [4] Operaciones y funciones

## Operaciones con listas  
Tamaño       →  len(lista)  
Concatenar   →  [1,2]+[3,4]  
Repetir      →  ["hola"]*3  
Iterar       →  for i in lista  
Es parte de  →  4 in lista          # operador de pertenencia: in  
No es parte de →  5 not in lista    # operador de pertenencia: not in

### Concatenar listas

In [ ]:
lista = [1, 2] + [3, 4]         # uniendo dos listas
print(lista)                  # [1, 2, 3, 4]

### len()

In [ ]:
print(len(lista))             # 4

### Repetir

In [ ]:
saluda = ["hola"]*3
print(saluda)                 # ['hola', 'hola', 'hola']

### Iterar

In [ ]:
for i in lista:
    print(i)                  # 1 2 3 4 en columna

### in

In [ ]:
print("bye" in saluda)        # False

In [ ]:
print("hola" in saluda)        # True

### not in

In [ ]:
print("hi" not in saluda)      # True

## Algunas funciones  
append(elemento)  
pop()  
remove(elemento)	                 # si elemento no está en la lista da  error  
index(elemento)                      # devuelve el índice que ocupa el elemento  
insert(indice,elemento)  
clear()

### append()

In [ ]:
saluda.append("hi")
print(saluda)                 # ['hola', 'hola', 'hola', 'hi']

### pop()

In [ ]:
eliminado = saluda.pop()
print(saluda)                 # ['hola', 'hola', 'hola']
print(eliminado)              # hi

### clear()

In [ ]:
saluda.clear()
print(saluda)                 # []

### remove()

In [ ]:
l = [10, 20, 30, 40]          # nueva lista l
print(l)                      # [10, 20, 30, 40]
l.remove(20)
print(l)                      # [10, 30, 40]

### index()

In [ ]:
print(l.index(40))            # 2    el valor 40 ocupa ahora el índice 2

### insert()

In [ ]:
l.insert(1, "20")             # insertamos un valor tipo string
print(l)                      # [10, '20', 30, 40]

### No es lo mismo 30 que [30]

In [ ]:
print(l[2])                   # 30        valor 30
print(l[2:3])                 # [30]      lista con un único valor
print(l[2] == l[2:3])         # False     no es lo mismo un valor que una lista con un único valor

### Iterar

In [ ]:
colores = ['amarillo', 'rojo', 'verde', 'azul', 'naranja']
for color in colores:
    print(color)

### append()

In [ ]:
colores.append('magenta')
colores

### remove()

In [ ]:
colores.remove('naranja')
colores

### index()

In [ ]:
colores.index('verde')        # 2

### pop()

In [ ]:
colores.pop()                 # elimina el último elemento de la lista
colores

### pop(elemento)

In [ ]:
colores.pop(1)                # elimina el elemento que se indique
colores

### clear()

In [ ]:
colores.clear()
colores

## ```sort``` y ```sorted```

In [ ]:
l = [5, 2, 6, 1, 9, 0]
print("lista inicial :", l)
l.sort()                             # l.sort() realmente ordena la lista pero se ha de poner antes del print
print("lista con sort:", l)

In [ ]:
l = [5, 2, 6, 1, 9, 0]
print("lista inicial:", l)
print("lista sorted :", sorted(l))   # sorted(l) realmente no orden la lista pero permite imprimirla ordenada 
print("lista final  :", l)

# Tuplas [1] 
Las tuplas son inmutables.

In [ ]:
estaciones = ('Primavera', 'Verano', 'Otoño', 'Invierno')   # Para datos inmutables
print(estaciones)
type(estaciones)

Los elementos de una lista son mutables, los elementos de una tupla son inmutables.  
La iteración sobre los elementos de una tupla es más rápida que la iteración sobre una lista.

In [ ]:
mi_tupla = (15, 'McKinsey', True, [5,7,9], ('a','b','c'), 12.35)
mi_tupla

In [ ]:
tupla_uno = (14,)        # tupla con un único elemento. type(tupla_uno) es de tipo tuple, no int
tupla_uno

## Convertir una lista en una tupla

In [ ]:
a = [3, 5, 7, 9]         # una lista
b = tuple(a)             # se convierte en tupla
print(b)                 # (3, 5, 7, 9)

## Las tuplas admiten referirnos a ellas por el índice

In [ ]:
print(estaciones[0])   # 'Primavera'
print(mi_tupla[-1])    # 12.35
print(mi_tupla[1][2])  # K
print(mi_tupla[3][1])  # 7
mi_tupla[3][1] = 8     # Podemos cambiar los elementos de una lista dentro de una tupla
print(mi_tupla[3])     # [5, 8, 9]   la lista si es mutable aunque esté dentro de una tupla

## Métodos

In [ ]:
len(mi_tupla)          # longitud de una tupla

In [ ]:
len(mi_tupla[3])       # longitud de una lista dentro de una tupla

In [ ]:
del(estaciones)        # podemos borrar una tupla entera pero no sus elementos

In [ ]:
t=(0, 2, 0, 0, 2, 0, 5)
t.count(0)             # contamos el número de ceros que contiene una tupla

In [ ]:
t.index(2)             # indica el índice donde se encuentra el primer 2

In [ ]:
t.index(2, 3)           # indica el índice donde se encuentra el 2 comenzando a contar desde el índice 3

# Tuplas [2]

## Las tuplas admiten slicing

In [ ]:
decadas = (10, 20, 30, 40, 50, 60)
print(decadas[2:5])      #(30, 40, 50)  Operación de corte en tuplas (Slicing)
print(decadas[:3])       #(10, 20, 30)
print(decadas[:])        #(10, 20, 30, 40, 50, 60)   La tupla completa
print(20 in decadas)     #True
print(21 not in decadas) #True
#decadas[2] = 35         #Error no se puede cambiar un elemento de una tupla

## Conversión de tuplas en listas y viceversa

Las Tuplas son inmutables, pero se pueden convertir en listas y viceversa.

In [ ]:
d = list(decadas)
d.append(75)
d[-1] = 70
decadas = tuple(d)
print(decadas)
estaciones=('Primavera', 'Verano', 'Otoño', 'Invierno')
print(decadas + estaciones)  #se pueden unir dos tuplas

### Ejemplo: tupla a lista a tupla
Tomamos una tupla inmutable, la convertimos en lista, cambiamos algunos elementos, y la volvemos a convertir en tupla.

In [ ]:
dias = ('Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom')    # tupla de partida
# Observamos que hemos olvidado la tilde en Mié y Sáb
# convertimos la tupla en lista
lista_dias = list(dias)
lista_dias[2] = 'Mié'
lista_dias[5] = 'Sáb'
dias = tuple(lista_dias)   # convertimos la lista a tupla
dias

# Diccionarios [1]
* Diccionario: estructura iterable de parejas &nbsp;&nbsp; **Clave : Valor**
* No ordenado
 - Una lista si es ordenada
 - Una tupla si es ordenada
 - Un diccionario no es ordenado
 - Un conjunto (set) no es ordenado
* Las claves son únicas. No existen dos claves repetidas.

### Ejemplo
**País: Capital**
 - 'Francia' : 'París'
 - 'Italia' : 'Roma'
 - 'Portugal' : 'Lisboa'
 - 'España' : 'Madrid'
 - 'Alemania' : 'Berlín'

In [ ]:
geo = {'Francia':'París',
       'Italia':'Roma',
       'Portugal':'Lisboa',
       'España':'Madrid',
       'Alemania':'Berlín'}
geo

In [ ]:
vacio = {}                      # creación de un diccionario vacío
vacio

In [ ]:
type(vacio)                     # los diccionarios son de tipo dic

In [ ]:
d = {'uno':'one', 'dos':'two', 'tres':'three', 'cuatro':'four'}
d['uno']                        # one

## Los diccionarios son colecciones desordenadas  
No se asegura que el orden sea el esperado.

In [ ]:
d['cero'] = 'zero'              # añadiendo un nuevo elemento al diccionario  clave:valor

In [ ]:
d

In [ ]:
palabra = 'uno'
print(f"{palabra} en inglés es {d[palabra]}.")

In [ ]:
dic_num = {'uno':1, 'dos':2, 'tres':3, 'cuatro':4}
print("Hay {} tazas de café.".format(dic_num['dos']))

## Los valores pueden ser tuplas, listas, ... incluso otros diccionarios

In [ ]:
elementos = {'Litio':('Li',3), 'Sodio':('Na',11), 'Potasio':('K',19)}  # nº atómico = nº de protones
print("El número atómico del Litio es", elementos['Litio'][1])

### Ejercicio
Completar la siguiente línea de código

In [ ]:
print("El símbolo del Sodio es ...")

#### Solución

In [ ]:
e ='Sodio'
print(f"El símbolo del {e} es {elementos[e][0]}.")

## Convertir un diccionario en listas

In [ ]:
d = {'x':1, 'y':2, 'z':3}
d

In [ ]:
list(d)                    # ['x', 'y', 'z']

In [ ]:
d.keys()                   # dict_keys(['x', 'y', 'z'])

In [ ]:
list(d.keys())            # ['x', 'y', 'z']

In [ ]:
d.values()                 # dict_values([1, 2, 3])

In [ ]:
list(d.values())            # [1, 2, 3]

In [ ]:
d.items()                  # dict_items([('x', 1), ('y', 2), ('z', 3)])

In [ ]:
list(d.items())            # [('x', 1), ('y', 2), ('z', 3)]

In [ ]:
list(iter(d))              # ['x', 'y', 'z']

# Diccionarios [2]

In [ ]:
historia = {
  "Apolo": 11,
  "astronauta": "Neil Armstrong",
  "año": 1969
}
historia

In [ ]:
historia["Apolo"] = 'XI'          # Cambiamos el valor de la clave Apolo
historia

In [ ]:
print("año" in historia)          # True

In [ ]:
print(len(historia))

In [ ]:
historia["módulo"] = "Eagle"
historia

In [ ]:
historia.pop("astronauta")
historia

## Añadir y borrar un elemento

In [ ]:
color = {'verde': ['green','vert'],
        'rojo': ['red','rouge'],
        'azul': ['blue','bleu']}
color                                       # diccionario de colores con traducción en inglés y en francés

In [ ]:
color['violeta'] = ['purple','violette']
color

In [ ]:
del(color['rojo'])
color

## Operar con valores

### Modificando el valor correspondiente a una clave.

In [ ]:
edad = {'Ana':23, 'Luis':27, 'Eva':25, 'Raul':26}
edad['Ana'] += 1                                   # es el cumpleaños de Ana
edad

### Comparando valores de varias claves

In [ ]:
edad['Ana'] < edad['Eva'] < edad['Raul']            # comparando los valores de varias claves

## Listar clave, valor
Usando bucles podemos listar el contenido de la clave y/o el valor de un diccionario.

In [ ]:
for k in edad:               # obtenemos solo un listado de la clave
    print(k)

In [ ]:
for k in edad:               # conseguimos listar el valor
    print(edad[k])

In [ ]:
for k in edad:               # listamos ambos
    print(k, edad[k])

### Usando items

In [ ]:
for k,v in edad.items():
    print(k, v)

# Diccionarios [3]  
## Diccionarios anidados

In [ ]:
amigos = {
  "colega1" : {
    "nombre" : "Pedro",
    "año" : 2001
  },
  "colega2" : {
    "nombre" : "Silvia",
    "año" : 2004
  },
  "colega3" : {
    "nombre" : "Isa",
    "año" : 2003
  }
}
amigos

## Diccionario de diccionarios  
Podemos crear varios diccionarios y otro que los contenga.

In [ ]:
Intel = {"gama":"i3", "precio":120}
AMD = {"gama":"Ryzen3", "precio":90}
micros = {"marca1":Intel, "marca2":AMD}
micros

In [ ]:
micros.keys()

In [ ]:
micros.values()

## Crear un diccionario usando listas

In [ ]:
k = ['a', 'b', 'c']
v = list(range(1,4))          # [1, 2, 3]
print(dict(zip(k,v)))         # {'a': 1, 'b': 2, 'c': 3}        diccionario
print(set(zip(k,v)))          # {('b',2),('c',3),('a',1)}       conjunto

## Ejercicio  
Crear un diccionario partiendo de una lista de países y otra lista con sus capitales.  
Lugo invertir clave y valor.

### Solución

In [ ]:
geo = {'Francia':'París',
       'Italia':'Roma',
       'Portugal':'Lisboa',
       'España':'Madrid',
       'Alemania':'Berlín'}
paises = list(geo)
paises

In [ ]:
capitales = list(geo.values())   # con list podemos convertir el objeto en una lista
capitales

In [ ]:
type(capitales)                  # comprobamos que se trata de una lista

Tenemos dos listas, países y capitales, con las que podemos montar el diccionario de una forma o de otra. Esto es, siendo la clave los países o siendo la clave las capitales.

#### Diccionario siendo la clave los países

In [ ]:
geo = {}              # no es necesario, pero inicializamos el diccionario geo
k = paises
v = capitales
geo = dict(zip(k,v))
geo

#### Diccionario siendo la clave las capitales

In [ ]:
geo = {}              # no es necesario, pero inicializamos el diccionario geo
k = capitales
v = paises
geo = dict(zip(k,v))
geo

# Conjuntos [1]  
Un SET es un conjunto no ordenado de elementos.

In [ ]:
conjunto = set()                                 # creación de un conjunto vacío
conjunto

In [ ]:
palos = {"oros", "copas", "bastos", "espadas"}   # un SET es un conjunto no ordenado de elementos
print(palos)

In [ ]:
type(palos)

In [ ]:
print("copas" in palos)   # True

In [ ]:
palos.add("picas")        # para añadir un elemento
palos

In [ ]:
palos.update(["corazones", "tréboles", "rombos"])  # para añadir varios elementos
palos

In [ ]:
print(len(palos))         # longitud del conjunto

In [ ]:
palos.remove("picas")     # elimina un elemento, si no existe da error
palos

In [ ]:
palos.discard("rombos")   # elimina un elemento, si no existe no da error
palos

In [ ]:
carta = palos.pop()       # elimina un elemento, no se sabe cuál y va cambiando
print(palos)
print(carta)              # la variable asignada recoge el elemento eliminado

In [ ]:
del(palos)                # elimina el conjunto
#print(palos)             # da error ya que hemos eliminado el conjunto

# Conjuntos [2]

In [ ]:
conjunto1 = {"oros", "copas", "bastos", "espadas"}
conjunto2 = {"picas", "corazones", "tréboles", "rombos"}
conjunto = conjunto1.union(conjunto2)                    # une conjuntos sin repetidos
print(conjunto)

In [ ]:
set1 = {'a', 'b', 'c'}
set2 = set(('x', 'y', 'z'))    # podemos crear un conjunto con set(). El conjunto va entre paréntesis
set1.update(set2)              # une conjuntos sin repetidos
print(set1)

## No admite elementos repetidos

In [ ]:
vacaciones = {'playa', 'montaña', 'ciudad', 'montaña', 'playa'}
vacaciones

### Ejemplo
Crear una lista de 10 elementos con números aleatorios del 1 al 10, con posible repetición.  
Convertir la lista en un conjunto, así eliminaremos los repetidos.  
Convertir el conjunto en una lista.  
De esta forma tendremos una lista sin repetición, con todos sus elementos únicos.

In [ ]:
from random import randint
l = [randint(1,10) for s in range(10)]  # generamos una lista de diez números con posible repetición
l

In [ ]:
c = set(l)
print(c)
print(f"El conjunto c tiene {len(c)} elementos sin repetición.")

In [ ]:
unicos = list(c)       # convertimos el conjunto c en la lista únicos
unicos

In [ ]:
list(set(l))           # resuelto en una sola línea

### Elimina caracteres repetidos de un string

In [ ]:
set('Buenas tardes')                  # las letras e, a, s están repetidas

# Operadores de comparación

- \>
- \<
- \>=
- \<=
- \== &nbsp;&nbsp;&nbsp; igual
- \!= &nbsp;&nbsp;&nbsp;&nbsp; distinto

In [ ]:
2 < 5

In [ ]:
"Ana" > "Jose"

In [ ]:
x = 3
y = 4
x**2 + y**2 >= 0

In [ ]:
2 == 8/4

In [ ]:
"Alex" != "alex"

## Comparando por rangos
Las dos siguientes formas de comparar son completamente equivalentes.

In [ ]:
x = 5
0 < x and x < 10    # True

In [ ]:
0 < x < 10          # True

## Condición lógica en un condicional

In [ ]:
a = 7
b = 9

if a == b:
    print("Si son iguales")

if a != b:
    print("No son iguales")